body {
    width: 400px;
    height: 400px;
    background-color: #1f1f1f;
    color: white;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-container h1 {
    color: #ffffff
}

.summarize-btn {
    width: 7em;
    height: 2em;
    border-radius: 1em;
}