body {
    width: 400px;
    height: 400px;
    background-color: #1f1f1f;
    color: white;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 100%;
}

#summary {
    height: 75%;
    width: 90%;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    overflow: scroll;
    background-color: #2f2f2f;
}

#main-container h1 {
    color: #ffffff
}

.summarize-btn {
    width: 7em;
    height: 2em;
    border-radius: 0.7em;
}

.summarize-btn.active {
    background-color: #4CAF50;
    color: white;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}